h2 {
  font-size: 16px;
  line-height: 24px;
}

.primary-container {
  margin-bottom: 40px;

  h2 {
    margin-bottom: 24px;
  }

  .cards {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
}

.secondary-container {
  h2 {
    margin-bottom: 16px;
  }

  .kl-carousel {
    width: 100%;
    overflow-y: scroll;
    display: flex;
    gap: 16px;
    scrollbar-width: none;  /* Firefox */

    /* Hide scrollbar for Chrome, Safari and Opera */
    &::-webkit-scrollbar {
      display: none;
    }


      li {
        width: calc((100% / 3) - ((16px * 2) / 3));
        min-width: 150px;
      }
  }
}
